body{
    background-color: rgb(132, 0, 0);
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.a-red{
    color: #f86c7a;
}
.a-grey{
    color: #fff;
}
a:hover{
    color: dodgerblue;
    text-decoration: none;
}
.button{
    background-color: black;
    color: white;
}
.btn{
    width: 100px;
    margin: 5px;
}
.nav-pills{
    background-color: #333;
}
.nav-link{
    color: grey;
}